apiVersion: apps/v1
kind: Deployment
metadata:
  name: aks-helloworld  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aks-helloworld
  template:
    metadata:
      labels:
        app: aks-helloworld
    spec:
      containers:
      - name: aks-helloworld
        image: {{ .Values.image }}
        ports:
        - containerPort: 8080
        env:
        - name: TITLE
          value: "Welcome to Azure Kubernetes Service (AKS)"
